
@model BExIS.Modules.OAC.UI.Models.EBIresponseModel


    <div>
        <h4>Metadata Fetched</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.accession)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.accession)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.releaseDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.releaseDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.updateDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.updateDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model._linksselfhref)
            </dt>

            <dd>
                @Html.DisplayFor(model => model._linksselfhref)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model._linkssamplehref)
            </dt>

            <dd>
                @Html.DisplayFor(model => model._linkssamplehref)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model._linksrelationshref)
            </dt>

            <dd>
                @Html.DisplayFor(model => model._linksrelationshref)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.geographicLocationDepth)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.geographicLocationDepth)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.organismtext)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.organismtext)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.organismontologyTerms)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.organismontologyTerms)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.environmentMaterial)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.environmentMaterial)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.insdcFirstPublic)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.insdcFirstPublic)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.enaChecklist)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.enaChecklist)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.collectionDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.collectionDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.geographicLocationLongitude)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.geographicLocationLongitude)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.geographicLocationLatitude)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.geographicLocationLatitude)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.titletext)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.titletext)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.insdcLastUpdate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.insdcLastUpdate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.waterEnvironmentalPackage)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.waterEnvironmentalPackage)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.waterEnvironmentalPackageontologyTerms)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.waterEnvironmentalPackageontologyTerms)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.investigationType)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.investigationType)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.synonym)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.synonym)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.insdcStatus)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.insdcStatus)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.sequencingMethod)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.sequencingMethod)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.projectName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.projectName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.sraAccession)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.sraAccession)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.alias)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.alias)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.environmentBiome)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.environmentBiome)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.environmentFeature)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.environmentFeature)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.insdcCenterName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.insdcCenterName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.geographicLocationCountryAndOrSea)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.geographicLocationCountryAndOrSea)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.externalReferences)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.externalReferences)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.externalReferencesacc)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.externalReferencesacc)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.externalReferencesurl)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.externalReferencesurl)
            </dd>


        </dl>
    </div>



<script type="text/javascript">

        function Import(element) {

            $.ajax({
                url: '/OAC/Home/Submit?acc='+element.value,
                type: 'POST',
                error: function (xhr) {
                    alert('Error: ' + xhr.statusText);

                },
                success: function (result) {
                    if (result) {
                        window.top.location = "/DDM/Data/ShowData/" + result;

                    } else {
                        alert("Dataset can not be uploaded ... please contact the portal administration");
                        window.top.location = "/";
                    }
                }
            });
        }

        function ImportAll() {

            $.ajax({
                url: '/OAC/SequenceDataUpload/importMetadataFromSample',
                type: 'POST',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                error: function (xhr) {
                    alert('Error: ' + xhr.statusText);

                },
                success: function (result) {
                    if (result) {
                        window.top.location = "/DDM/Data/ShowData/" + result;

                    } else {
                        alert("Dataset can not be uploaded ... please contact the portal administration");
                        window.top.location = "/";
                    }
                }
            });
        }

</script>

