@model BEXIS.OAC.Entities.SequencedataNCBI
@using BEXIS.OAC.Entities;

<div>
    <h4>AccessionMetadataV2</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.accession)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.accession)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.alias)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.alias)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.center_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.center_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TITLE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TITLE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DESCRIPTION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCRIPTION)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NAME)
        </dd>

        <!--  IDENTIFIERS    -->

        <dt>
            @Html.DisplayNameFor(model => model.IDENTIFIERS.PRIMARY_ID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IDENTIFIERS.PRIMARY_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDENTIFIERS.SECONDARY_ID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IDENTIFIERS.SECONDARY_ID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IDENTIFIERS.SUBMITTER_ID.namespace_)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IDENTIFIERS.SUBMITTER_ID.namespace_)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDENTIFIERS.SUBMITTER_ID.text_)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IDENTIFIERS.SUBMITTER_ID.text_)
        </dd>

        <!-- PROJECTLINKS -->

        @{
            List<PROJECTLINK> sls = (List<PROJECTLINK>)Model.PROJECT_LINKS.PROJECT_LINK;
            foreach (PROJECTLINK sl in sls)
            {
                <dt>
                    @Html.DisplayNameFor(model => sl.XREF_LINK.ID)
                </dt>
                <dd>
                    @Html.DisplayFor(model => sl.XREF_LINK.ID);
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => sl.XREF_LINK.DB)
                </dt>
                <dd>
                    @Html.DisplayFor(model => sl.XREF_LINK.DB);
                </dd>

            }

        }

        <!-- PROJECTATTRIBUTES -->

        @{
            List<PROJECTATTRIBUTE> sls_ = (List<PROJECTATTRIBUTE>)Model.PROJECT_ATTRIBUTES.PROJECT_ATTRIBUTE;
            foreach (PROJECTATTRIBUTE sl in sls_)
            {
                <dt>
                    @Html.DisplayNameFor(model => sl.TAG)
                </dt>
                <dd>
                    @Html.DisplayFor(model => sl.TAG);
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => sl.VALUE)
                </dt>
                <dd>
                    @Html.DisplayFor(model => sl.VALUE);
                </dd>

            }

        }


    </dl>
</div>

<script type="text/javascript">

        function Import(element) {

            $.ajax({
                url: '/OAC/Home/Submit?acc='+element.value,
                type: 'POST',
                error: function (xhr) {
                    alert('Error: ' + xhr.statusText);

                },
                success: function (result) {
                    if (result) {
                        window.top.location = "/DDM/Data/ShowData/" + result;

                    } else {
                        alert("Dataset can not be uploaded ... please contact the portal administration");
                        window.top.location = "/";
                    }
                }
            });
        }

        function ImportAll() {

            $.ajax({
                url: '/OAC/SequenceDataUpload/importMetadataFromSample',
                type: 'POST',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                error: function (xhr) {
                    alert('Error: ' + xhr.statusText);

                },
                success: function (result) {
                    if (result) {
                        window.top.location = "/DDM/Data/ShowData/" + result;

                    } else {
                        alert("Dataset can not be uploaded ... please contact the portal administration");
                        window.top.location = "/";
                    }
                }
            });
        }

</script>

