@model BExIS.Web.Shell.Areas.DCM.Models.SelectVerificationModel
@using Telerik.Web.Mvc.UI;
@using Telerik.Web.Mvc.Resources;
@using BExIS.Web.Shell.Areas.DCM.Models;
@using BExIS.Dlm.Entities.DataStructure;


<div id="Step3" class="uploadWizardStep">

    <div class="uploadWizardStep_Main">
        <div class="uploadWizardStep_Header stepper">
            <h3>@Model.StepInfo.title</h3>
        </div>

        <div class="uploadWizardStep_Description stepper">
        </div>

        <div class="uploadWizardStep_Content stepper">
           <table>
               <tbody>
                       @for(int i = 0; i < Model.HeaderFields.Length; i++)
                       {
                           <tr>
                               <td>
                                   @Html.Name(Model.HeaderFields[i])
                               </td>
                               <td>
                                  <select name="@(i)">
                                      @foreach(Unit unit in Model.AvailableUnits)
                                      {
                                          <option value="@Html.Name(Convert.ToString(unit.Id))" title="@Html.Name(unit.Description)">@Html.Name(unit.Name) (@Html.Name(unit.Abbreviation))</option>
                                      }
                                  </select>
                               </td>
                            </tr>
                       }
               </tbody>
           </table>
        </div>
    </div>

    <div class="uploadWizardStep_Error stepper">
        @if (Model != null)
        {
            if (Model.ErrorList != null)
            {
                if (Model.ErrorList.Count == 0)
                {


                }
                else
                { 
                   <ul>
                        @foreach (BExIS.IO.Transform.Validation.Exceptions.Error s in @Model.ErrorList)
                        { 
                            <li>@s.ToString()</li>
                        }
                   </ul>

                }
            }

        }
    </div>   
</div>


<script type="text/javascript">

    $(document).ready(function () {
    
        $('select').change(function () {
            if ($(this).val() != null && $(this).val() != '') {
                var selectOptionId = $(this).val();
                var selectId = $(this).attr('name');

                // send to bus
                $.post('@Url.Action("SaveUnitSelection", "SubmitVerification", new RouteValueDictionary { { "area", "DCM" } })', { selectFieldId: selectId, selectOptionId: selectOptionId }, function (response) {
                    $("#Step3").html(response);
                });
            }
        })
    });

</script>