@model IEnumerable<BExIS.Rbm.Entities.Booking.BookingEvent>

@{
    ViewBag.Title = "Index";
}

<h2>Admin Page for all Booking Events Management</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MinDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MinDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaxDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @if (item.Status == 0)
            {
                @Html.ActionLink("Validate", "Validate", new { id = item.Id, status = "1" })
            }
            else
            {
                @Html.ActionLink("Unvalidate", "Validate", new { id = item.Id, status="0" })
            }
        </td>
    </tr>
}

</table>
