@model BExIS.Web.Shell.Areas.DCM.Models.SelectVerificationModel
@using Telerik.Web.Mvc.UI;
@using Telerik.Web.Mvc.Resources;
@using BExIS.Web.Shell.Areas.DCM.Models;
@using BExIS.Dlm.Entities.DataStructure;


<div id="Step3" class="uploadWizardStep">

    <div class="uploadWizardStep_Main">
        <div class="uploadWizardStep_Header stepper">
            <h3>@Model.StepInfo.title</h3>
        </div>

        <div class="uploadWizardStep_Description stepper">
        </div>

        <div class="uploadWizardStep_Content stepper">
           <table>
               <thead>
                   <tr>
                    <th>Variable name</th>
                    <th>Unit</th>
                    <th>Datatype</th>
                   </tr>
               </thead>
               <tbody>
                   
                       @for(int i = 0; i < Model.HeaderFields.Length; i++)
                       {
                           <tr>
                               <td>
                                   @Html.Name(Model.HeaderFields[i])
                               </td>

                               <td>
                                  <select name="Unit" headerfieldId="@(i)">
                                      @foreach(UnitInfo unit in Model.AvailableUnits)
                                      {
                                          string selected = "";

                                          if(Model.AssignedHeaderUnits.Count > 0)
                                          {
                                              
                                              Tuple<int, String, UnitInfo> tuple = Model.AssignedHeaderUnits.Where(t => t.Item3.UnitId == unit.UnitId && t.Item2 == Model.HeaderFields[i]).FirstOrDefault();

                                              if (tuple != null)
                                              {
                                                  selected = "selected";
                                              }
                                              
                                          }
                                          <option @Html.Raw(selected) value="@Html.Name(Convert.ToString(unit.UnitId))" title="@Html.Name(unit.Description)">@Html.Name(unit.Name) (@Html.Name(unit.Abbreviation))</option>
                                      }
                                  </select>
                               </td>
                               <td>
                                    <select name="Datatype" headerfieldId="@(i)">
                                            @{
                                                Tuple<int, String, UnitInfo> tupleBla = Model.AssignedHeaderUnits.Where(t => t.Item1 == i).FirstOrDefault();

                                                if (tupleBla != null && tupleBla.Item3.UnitId > 1)
                                                {
                                                    foreach (DataTypeInfo dataTypeInfo in ((UnitInfo)tupleBla.Item3).DataTypeInfos )
                                                    {
                                                        string selected = "";

                                                        Tuple<int, String, UnitInfo> tuple = Model.AssignedHeaderUnits.Where(t => t.Item1 == i && t.Item3.SelectedDataTypeId == dataTypeInfo.DataTypeId).FirstOrDefault();

                                                        if (tuple != null)
                                                        {
                                                            selected = "selected";
                                                        }

                                                        <option @Html.Raw(selected) value="@Html.Name(Convert.ToString(dataTypeInfo.DataTypeId))" title="@Html.Name(dataTypeInfo.Description)">@Html.Name(dataTypeInfo.Name)</option>
                                                    }
                                                }
                                                else
                                                {
                                                    <option value="none" tilte="">Please select an unit</option>
                                                }

                                            }

                                        }
                                   </select>
                               </td>
                            </tr>
                       }
               </tbody>
           </table>
        </div>
    </div>

    <div class="uploadWizardStep_Error stepper">
        @if (Model != null)
        {
            if (Model.ErrorList != null)
            {
                if (Model.ErrorList.Count == 0)
                {


                }
                else
                { 
                   <ul>
                        @foreach (BExIS.IO.Transform.Validation.Exceptions.Error s in @Model.ErrorList)
                        { 
                            <li>@s.ToString()</li>
                        }
                   </ul>

                }
            }

        }
    </div>   
</div>


<script type="text/javascript">

    $(document).ready(function () {

        $('select[name="DataType"]').each(function (index) {
            var selectId = $(this).attr('headerfieldId');
            var val = $('select[name="Unit"][headerfieldId="' + selectId + '"]').val();
            if(val > 0)
            {
                $(this).prop("disabled", false);

            }
        });

        $('select[name="Unit"]').change(function () {
            if ($(this).val() != null && $(this).val() != '') {
                var selectOptionId = $(this).val();
                var selectId = $(this).attr('headerfieldId');

                // send to bus
                $.post('@Url.Action("SaveUnitSelection", "SubmitVerification", new RouteValueDictionary { { "area", "DCM" } })', { selectFieldId: selectId, selectOptionId: selectOptionId }, function (response) {
                    $("#Step3").html(response);
                });
            }
        });

        $('select[name="Datatype"]').change(function () {
            var selectedDataTypeId = $(this).val();
            var headerfieldId = $(this).attr('headerfieldId');

            console.log("selectedDataTypeId: " + selectedDataTypeId);
            console.log("headerfieldId: " + headerfieldId);

            // send to bus
            $.post('@Url.Action("SaveDataTypeSelection", "SubmitVerification", new RouteValueDictionary { { "area", "DCM" } })', { headerfieldId: headerfieldId, selectedDataTypeId: selectedDataTypeId }, function (response) {
                $("#Step3").html(response);
            });
        });
    });

</script>