@model IEnumerable<BExIS.Aam.Entities.Mapping.Aam_Observation_Context>

@{
    ViewBag.Title = "Index";
}

@{
    string errors = (string)ViewData["errors"];
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Dataset)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contextualized_entity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contextualized_entity.label)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contextualizing_entity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contextualizing_entity.label)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Dataset.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contextualized_entity.URI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contextualized_entity.label )
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contextualizing_entity.URI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contextualizing_entity.label )
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
